# Applied Data Science Capstone Week 4

# The Battle of Neighborhoods - Part 2

## Title : Recommender System for Hotels in Bengaluru

### Data Requirements:

In order to build the Recommender System, we need the following data:
1. To locate a restaurant in a certain place, we need the latitude and longitude of that place.
1. To determine the quality of the restaurant, we need the data regarding the population of the neighborhood and the proportion of people who visit that restaurant. More the number of people visiting a restaurant, better will be the quality rating of the restaurant.
1. To determine the income group of people who visit the restaurant, we need the income data of the people in the neighborhood.

### Data Collection:

The required dataset consists of three .csv files, one for each of the requirements specified above. Sample of all these datasets are shown below:

In [14]:
import pandas as pd
import numpy as np
complete = pd.read_csv('documents/data/complete_dataset.csv')
complete.drop('Unnamed: 0',axis=1,inplace=True)

In [15]:
location = pd.DataFrame(complete[['Borough', 'Neighborhoods', 'Latitude', 'Longitude']])
location.head(10)

   Borough      Neighborhoods   Latitude  Longitude
0  Central    Cantonment area  12.972442  77.580643
1  Central             Domlur  12.960992  77.638726
2  Central        Indiranagar  12.971891  77.641151
3  Central  Jeevanbheemanagar  12.962900  77.659500
4  Central        Malleswaram  13.003100  77.564300
5  Central          Pete area  12.962700  77.575800
6  Central        Rajajinagar  12.990100  77.552500
7  Central     Sadashivanagar  13.006800  77.581300
8  Central      Seshadripuram  12.993500  77.578700
9  Central       Shivajinagar  12.985700  77.605700

In [16]:
population = pd.DataFrame(complete[['Borough', 'Neighborhoods', 'Population']])
population.head(10)

   Borough      Neighborhoods  Population
0  Central    Cantonment area      866377
1  Central             Domlur      743186
2  Central        Indiranagar      474289
3  Central  Jeevanbheemanagar      527874
4  Central        Malleswaram      893629
5  Central          Pete area      730999
6  Central        Rajajinagar      981362
7  Central     Sadashivanagar      662625
8  Central      Seshadripuram      396862
9  Central       Shivajinagar       77836

In [17]:
income = pd.read_csv('documents/data/income_dataset.csv')
income.drop('Unnamed: 0',axis=1,inplace=True)
income.head(10)

   Borough      Neighborhoods  AverageIncome
0  Central    Cantonment area   18944.099792
1  Central             Domlur   56837.022198
2  Central        Indiranagar   41991.817435
3  Central  Jeevanbheemanagar    6667.447632
4  Central        Malleswaram   53270.063892
5  Central          Pete area   50712.430215
6  Central        Rajajinagar   60967.535874
7  Central     Sadashivanagar   59943.541564
8  Central      Seshadripuram   58407.090338
9  Central       Shivajinagar   55850.962099

In addition to these datasets, we need FourSquare API to obtain nearest venue locations, so that we can form clusters of neighboring locations.